.wrapper {
    width: 100%;
    background-color: white;
}

.wrapper__dark {
    background-color: rgb(21, 21, 21);
}

.container {
    max-width: 1400px;
    width: 100%;
    margin: auto;
    padding: 10px 60px;
}

.inner {
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    padding: 40px 80px;
    background-color: rgb(242, 242, 242);
    border-radius: 15px;
    align-items: center;
    gap: 60px;
    position: relative;
}

.inner__dark {
    border: 1px solid rgb(48, 48, 48);
    background-color: rgb(23, 23, 23);
}

.images {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.image__wrapper {
    width: 80px;
    height: 80px;
    background-color: rgb(174, 174, 174);
    border-radius: 15px;
    transition: all 200ms;
}

.image {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.image[src=""] {
    display: none;
}

.image__wrapper:hover {
    position: relative;
    transform: scale(1.1);
    cursor: pointer;
}

.current__image__wrapper {
    width: 40%;
    aspect-ratio: 1/1;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(174, 174, 174);
}

.current__image {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.current__image[src=""] {
    display: none;
}

.info {
    padding: 10px;
    width: 384px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.first {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.title {
    font-size: 30px;
}

.title__dark {
    color: white;
}

.category {
    box-sizing: content-box;
    padding: 10px 12px;
    background-color: rgb(215, 215, 215);
    width: auto;
    align-self: flex-start;
    border: 1px solid rgb(138, 138, 138);
    font-weight: 500;
    border-radius: 30px;
    font-size: 13px;
}

.category__dark {
    background-color: rgb(22, 22, 22);
    color: white;
    border: 1px solid rgb(48, 48, 48);
}

.description {
    color: gray;
    font-size: 20px;
}

.end {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.price__wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.price__text {
    font-size: 16px;
    color: gray;
}

.price {
    font-size: 22px;
    font-weight: 700;
    white-space: nowrap;
    color: black;
}

.price__dark {
    color: white;
}

.button {
    box-sizing: content-box;
    background-color: rgb(111, 0, 255);
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    font-weight: 400;
    padding: 5px 20px;
    white-space: nowrap;
}

.button:hover {
    cursor: pointer;
}

.back {
    position: absolute;
    right: 20px;
    top: 20px;
    background-color: rgb(232, 232, 232);
    box-sizing: content-box;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 25px;
    border: 1px solid gray;
}

.back__dark {
    background-color: rgb(19, 19, 19);
    border: 1px solid rgb(48, 48, 48);
    color: gray;
}

.back:hover {
    cursor: pointer;
}

@media (max-width: 1279px) {
    .wrapper {
        padding-top: 100px;
    }
}

@media (max-width: 1025px) {
    .inner {
        flex-wrap: wrap;
        flex-direction: column;
        gap: 20px;
    }

    .current__image__wrapper {
        order: -1;
    }

    .current__image__wrapper {
        width: 100%;
    }

    .images {
        flex-direction: row;
    }

    .info {
        width: 100%;
        gap: 20px;
    }
}



@media (max-width: 680px) {
    .inner {
        padding: 10px 20px;
    }

    .image__wrapper {
        width: 50px;
        height: 50px;
    }

    .container {
        padding: 10px 20px;
    }
}

@media (max-width: 550px) {
    .inner {
        padding: 5px 8px;
    }
    .images {
        gap: 15px;
    }

    .back {
        padding: 7px 16px;
        font-size: 14px;
        border: 1px solid gray;
    }
}